matplotlib 
pytest 
coverage 
ncempy 
igor2  
aicspylibczi 
xmltodict 
psutil 
pika  
hyperspy  
mfid 
h5py 
sqlalchemy 
sqlmodel 
pyyaml 
pillow 
imageio 
google-cloud-secret-manager 
joblib
google-auth-oauthlib 
google-auth 
google-api-python-client 
pytz
python-dotenv